@import 'mixin';

html{
  height: 100%;
}
html, body{
  margin: 0;
}
body{
  position: relative;
  font-size: 14px;
  min-height: 100%;
  overflow-x: hidden;
  background: #ececec;
}
*{
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  padding: 0;
  margin: 0;

  &::selection {
    background: #e8334d;
    color: #fff;
  }
}
img{
  max-width: 100%;
  display: inline-block;
}
a{
  display: inline-block;
  color: $white;
  text-decoration: none;
  padding: 15px 25px 22px;

  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 21px;
  position: relative;
  &:after {
    content: '';
    position: absolute;
    left: 15%;
    bottom: 12px;
    width: 70%;
    height: 3px;
    background: transparent;
    border-radius: 5px;
  }
  @include transition;

  &:hover{
    color: $yellow;
    &:after {
      background: $yellow;
    }
  }
}
h1, h2, h3, h4, h5, h6{
  margin-top: 0;
  font-weight: normal;
}
h1{
  font-size: 80px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  line-height: 147px;
  color: $yellow;
}
h2{
  font-size: 69px;
  font-family: 'Heebo', sans-serif;
  font-weight: 100;
  line-height: 75px;
  padding: 30px 0 15px;
  position: relative;
}
h3{
  font-size: 72px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  line-height: 111px;
}
h4{
  font-size: 34px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  color: $white;
}
h5{
  font-size: 28px;
  font-family: 'Raleway', sans-serif;
  line-height: 33px;
  color: #696969;
  font-weight: 600;
}
h6{
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 35px;
}
p{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: $grey;
}
ul{
  list-style: none;
}
button{
  border: none;
  cursor: pointer;
  border-radius: 0;
  appearance: none;
}
input{
  appearance: none;
}
input:not([type="submit"]){
  width: 100%;
  border: none;
  border-radius: 2px;
  height: 60px;
  padding: 0 15px;
  font-size: 16px;
  font-family: 'Heebo', sans-serif;
  font-weight: 400;
  color: $white;
}
textarea{
  max-width: 100%;
  outline: none;
  border: none;
  display: block;
  padding: 15px 0;
  min-height: 178px;
  font-size: 16px;
  width: 100%;
  resize: none;
}
address{
  font-style: normal;
}
strong{
  font-weight: 700;
}
::-webkit-input-placeholder {color:#fff;}
::-moz-placeholder          {color:#fff;}
:-moz-placeholder           {color:#fff;}
:-ms-input-placeholder      {color:#fff;}